@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JokesApp!</h1>
    <p>The foremost authority of good humour is that you will find it anywhere !</p>
    <img src="~/Images/pic.png" alt="A fun scene for our jokes app" />

</div>
